body{
    background-color: rgb(207, 223, 238);
    text-align: center;
    font-family: 'Righteous', sans-serif;
}

#checks_and_submit{
    border:solid 1px green;
    width:30%;
    padding:2rem;
}

#answer-form label {
    display: inline-block;
    margin: 0.75rem;
}

#results_and_tally{
    border:solid 1px black;
    width:25%;
    display:none;
}
