body{
    background-color: rgb(207, 223, 238);
    text-align: center;
    font-family: 'Righteous', sans-serif;
}

#checks_and_submit{
    border:solid 1px green;
    width:30%;
    padding:2rem;
}

#answer-form label {
    display: inline-block;
    margin: 0.75rem;
}

#results_and_tally{
    border:solid 1px black;
    width:25%;
    display:none;
}

/* notes animation falling on completion */
.note {
    position: fixed;
    top: -20px;
    font-size: 24px;
    pointer-events: none;
    animation: fall 1.5s ease-out forwards;
  }
  
  @keyframes fall {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(120vh) rotate(360deg);
      opacity: 0;
    }
  }
  